<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-admin-permissions-heading" jhiTranslate="universignOedApp.adminPermissions.home.createOrEditLabel">Create or edit a Admin Permissions</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.adminPermissions.oedWrite" for="field_oedWrite">Oed Write</label>
                    <input type="checkbox" class="form-control" name="oedWrite" id="field_oedWrite"
                           formControlName="oedWrite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.adminPermissions.groupWrite" for="field_groupWrite">Group Write</label>
                    <input type="checkbox" class="form-control" name="groupWrite" id="field_groupWrite"
                           formControlName="groupWrite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.adminPermissions.adminWrite" for="field_adminWrite">Admin Write</label>
                    <input type="checkbox" class="form-control" name="adminWrite" id="field_adminWrite"
                           formControlName="adminWrite"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
