<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-administrator-heading" jhiTranslate="universignOedApp.administrator.home.createOrEditLabel">Create or edit a Administrator</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.emailAddress" for="field_emailAddress">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                           formControlName="emailAddress"/>
                    <div *ngIf="editForm.get('emailAddress')!.invalid && (editForm.get('emailAddress')!.dirty || editForm.get('emailAddress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('emailAddress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.role" for="field_role">Role</label>
                    <select class="form-control" name="role" formControlName="role" id="field_role">
                        <option value="SUPER_ADMIN">{{ 'universignOedApp.Role.SUPER_ADMIN' | translate }}</option>
                        <option value="GROUP_ADMIN">{{ 'universignOedApp.Role.GROUP_ADMIN' | translate }}</option>
                        <option value="AFFILIATED_ADMIN">{{ 'universignOedApp.Role.AFFILIATED_ADMIN' | translate }}</option>
                        <option value="GUEST">{{ 'universignOedApp.Role.GUEST' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                    <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('password')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="REGISTERING">{{ 'universignOedApp.AdministratorStatus.REGISTERING' | translate }}</option>
                        <option value="ACTIVE">{{ 'universignOedApp.AdministratorStatus.ACTIVE' | translate }}</option>
                        <option value="DEACTIVATED">{{ 'universignOedApp.AdministratorStatus.DEACTIVATED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.adminFunction" for="field_adminFunction">Admin Function</label>
                    <input type="text" class="form-control" name="adminFunction" id="field_adminFunction"
                           formControlName="adminFunction"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.mobilePhone" for="field_mobilePhone">Mobile Phone</label>
                    <input type="text" class="form-control" name="mobilePhone" id="field_mobilePhone"
                           formControlName="mobilePhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.universignAdmin" for="field_universignAdmin">Universign Admin</label>
                    <input type="checkbox" class="form-control" name="universignAdmin" id="field_universignAdmin"
                           formControlName="universignAdmin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.activationKey" for="field_activationKey">Activation Key</label>
                    <input type="text" class="form-control" name="activationKey" id="field_activationKey"
                           formControlName="activationKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.resetKey" for="field_resetKey">Reset Key</label>
                    <input type="text" class="form-control" name="resetKey" id="field_resetKey"
                           formControlName="resetKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.resetDate" for="field_resetDate">Reset Date</label>
                    <div class="d-flex">
                        <input id="field_resetDate" type="datetime-local" class="form-control" name="resetDate" formControlName="resetDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.permissions" for="field_permissions">Permissions</label>
                    <select class="form-control" id="field_permissions" name="permissions" formControlName="permissions">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adminPermissionsOption.id === editForm.get('permissions')!.value?.id ? editForm.get('permissions')!.value : adminPermissionsOption" *ngFor="let adminPermissionsOption of permissions; trackBy: trackById">{{ adminPermissionsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.dashboardPreferences" for="field_dashboardPreferences">Dashboard Preferences</label>
                    <select class="form-control" id="field_dashboardPreferences" name="dashboardPreferences" formControlName="dashboardPreferences">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adminPreferencesOption.id === editForm.get('dashboardPreferences')!.value?.id ? editForm.get('dashboardPreferences')!.value : adminPreferencesOption" *ngFor="let adminPreferencesOption of dashboardpreferences; trackBy: trackById">{{ adminPreferencesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="universignOedApp.administrator.oedPreferences" for="field_oedPreferences">Oed Preferences</label>
                    <select class="form-control" id="field_oedPreferences" name="oedPreferences" formControlName="oedPreferences">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adminPreferencesOption.id === editForm.get('oedPreferences')!.value?.id ? editForm.get('oedPreferences')!.value : adminPreferencesOption" *ngFor="let adminPreferencesOption of oedpreferences; trackBy: trackById">{{ adminPreferencesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
