<div>
    <h2 id="page-heading">
        <span jhiTranslate="universignOedApp.column.home.title">Columns</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-column" [routerLink]="['/column/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="universignOedApp.column.home.createLabel">
            Create a new Column
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="columns?.length === 0">
        <span jhiTranslate="universignOedApp.column.home.notFound">No columns found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="columns && columns.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="show"><span jhiTranslate="universignOedApp.column.show">Show</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="universignOedApp.column.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="universignOedApp.column.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adminPreferences.id"><span jhiTranslate="universignOedApp.column.adminPreferences">Admin Preferences</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let column of columns ;trackBy: trackId">
                    <td><a [routerLink]="['/column', column.id, 'view']">{{ column.id }}</a></td>
                    <td>{{ column.show }}</td>
                    <td>{{ column.name }}</td>
                    <td>{{ column.type }}</td>
                    <td>
                        <div *ngIf="column.adminPreferences">
                            <a [routerLink]="['/admin-preferences', column.adminPreferences?.id, 'view']" >{{ column.adminPreferences?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/column', column.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/column', column.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(column)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="columns && columns.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
