<div>
    <h2 id="page-heading">
        <span jhiTranslate="universignOedApp.operator.home.title">Operators</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operator" [routerLink]="['/operator/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="universignOedApp.operator.home.createLabel">
            Create a new Operator
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="operators?.length === 0">
        <span jhiTranslate="universignOedApp.operator.home.notFound">No operators found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="operators && operators.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="universignOedApp.operator.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="universignOedApp.operator.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="invitationDate"><span jhiTranslate="universignOedApp.operator.invitationDate">Invitation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="invitationUrl"><span jhiTranslate="universignOedApp.operator.invitationUrl">Invitation Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateAccessDate"><span jhiTranslate="universignOedApp.operator.updateAccessDate">Update Access Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accessDate"><span jhiTranslate="universignOedApp.operator.accessDate">Access Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateTrainingDate"><span jhiTranslate="universignOedApp.operator.updateTrainingDate">Update Training Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trainingDate"><span jhiTranslate="universignOedApp.operator.trainingDate">Training Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hasSucceededMCQ"><span jhiTranslate="universignOedApp.operator.hasSucceededMCQ">Has Succeeded MCQ</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updateQCMDate"><span jhiTranslate="universignOedApp.operator.updateQCMDate">Update QCM Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mcqDate"><span jhiTranslate="universignOedApp.operator.mcqDate">Mcq Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trainingSessionId"><span jhiTranslate="universignOedApp.operator.trainingSessionId">Training Session Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="trainingSessionURL"><span jhiTranslate="universignOedApp.operator.trainingSessionURL">Training Session URL</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sessionId"><span jhiTranslate="universignOedApp.operator.sessionId">Session Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="groupId"><span jhiTranslate="universignOedApp.operator.groupId">Group Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="metaDatas.id"><span jhiTranslate="universignOedApp.operator.metaDatas">Meta Datas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operator of operators ;trackBy: trackId">
                    <td><a [routerLink]="['/operator', operator.id, 'view']">{{ operator.id }}</a></td>
                    <td jhiTranslate="{{ 'universignOedApp.OpearatorStatus.' + operator.status }}">{{ operator.status }}</td>
                    <td>{{ operator.phoneNumber }}</td>
                    <td>{{ operator.invitationDate | date:'mediumDate' }}</td>
                    <td>{{ operator.invitationUrl }}</td>
                    <td>{{ operator.updateAccessDate }}</td>
                    <td>{{ operator.accessDate | date:'mediumDate' }}</td>
                    <td>{{ operator.updateTrainingDate }}</td>
                    <td>{{ operator.trainingDate | date:'mediumDate' }}</td>
                    <td>{{ operator.hasSucceededMCQ }}</td>
                    <td>{{ operator.updateQCMDate }}</td>
                    <td>{{ operator.mcqDate | date:'mediumDate' }}</td>
                    <td>{{ operator.trainingSessionId }}</td>
                    <td>{{ operator.trainingSessionURL }}</td>
                    <td>{{ operator.sessionId }}</td>
                    <td>{{ operator.groupId }}</td>
                    <td>
                        <div *ngIf="operator.metaDatas">
                            <a [routerLink]="['/map-properties', operator.metaDatas?.id, 'view']" >{{ operator.metaDatas?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/operator', operator.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/operator', operator.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(operator)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="operators && operators.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
