<div>
    <h2 id="page-heading">
        <span jhiTranslate="universignOedApp.certifiedUser.home.title">Certified Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-certified-user" [routerLink]="['/certified-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="universignOedApp.certifiedUser.home.createLabel">
            Create a new Certified User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="certifiedUsers?.length === 0">
        <span jhiTranslate="universignOedApp.certifiedUser.home.notFound">No certifiedUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="certifiedUsers && certifiedUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstname"><span jhiTranslate="universignOedApp.certifiedUser.firstname">Firstname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastname"><span jhiTranslate="universignOedApp.certifiedUser.lastname">Lastname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="universignOedApp.certifiedUser.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="universignOedApp.certifiedUser.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let certifiedUser of certifiedUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/certified-user', certifiedUser.id, 'view']">{{ certifiedUser.id }}</a></td>
                    <td>{{ certifiedUser.firstname }}</td>
                    <td>{{ certifiedUser.lastname }}</td>
                    <td>{{ certifiedUser.email }}</td>
                    <td>{{ certifiedUser.phoneNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/certified-user', certifiedUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/certified-user', certifiedUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(certifiedUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="certifiedUsers && certifiedUsers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
